.attr-cache
.cabal-sandbox
*.hi
*.o
cabal.project.local
cabal.sandbox.config
ctags
dist-newstyle/
dist/
ghcid-output.txt
profile/
result
result-*
tags
TAGS
static.out
.devenv
.direnv
/db
/import
/config/backend/services.json
kb/
.cursorignore
ssh_keys/

# Docker
.docker/
docker-compose.override.yml
